<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appenders 설정: 로그 메시지를 어디로 출력할 것인지 정의합니다. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %boldGreen(%-5level) %logger{36} %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root 로거 설정: 모든 로그 메시지의 최상위 로거를 정의합니다. -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
